<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <style>
        h1{
            text-align: center;
        }
        button{
            text-align: center;
            align-items: center;
            height:50px;
            width:100px;
            border-radius:5rem;
            background-color: aqua;
            color:black;
            display: block;
            margin-top:200px;
            margin-left:600px;
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Here by clicking below button you will redirect to "https://localhost:8080/chats" route.</h1>
    <a href="http://localhost:8080/chats"><button>Chats here</button></a>
</body>
</html>